Repository Open-Cascade-SAS/OCCT, pull requests merged in 2025-04, with the labels that each got.

#477 Testing - Inspector build error on latest CMake
  .github/actions/build-tinspector/action.yml
Labels: 2. Bug, 1. Testing

#473 Foundation Classes - HashUtils NoExcept optimization
  src/FoundationClasses/TKernel/Standard/Standard_HashUtils.hxx
  src/FoundationClasses/TKernel/Standard/Standard_HashUtils.lxx
Labels: 2. Enhancement, 1. Foundation Classes

#481 Testing - Units Tests for NCollection package
  .github/actions/run-gtest/action.yml
  src/FoundationClasses/TKernel/GTests/FILES.cmake
  src/FoundationClasses/TKernel/GTests/NCollection_Array1_Test.cxx
  src/FoundationClasses/TKernel/GTests/NCollection_BaseAllocator_Test.cxx
  src/FoundationClasses/TKernel/GTests/NCollection_DataMap_Test.cxx
  src/FoundationClasses/TKernel/GTests/NCollection_DoubleMap_Test.cxx
  src/FoundationClasses/TKernel/GTests/NCollection_IndexedDataMap_Test.cxx
  src/FoundationClasses/TKernel/GTests/NCollection_IndexedMap_Test.cxx
  src/FoundationClasses/TKernel/GTests/NCollection_List_Test.cxx
  src/FoundationClasses/TKernel/GTests/NCollection_LocalArray_Test.cxx
  src/FoundationClasses/TKernel/GTests/NCollection_Map_Test.cxx
  src/FoundationClasses/TKernel/GTests/NCollection_Sequence_Test.cxx
  src/FoundationClasses/TKernel/GTests/NCollection_SparseArray_Test.cxx
  src/FoundationClasses/TKernel/GTests/NCollection_Vector_Test.cxx
Labels: 2. Enhancement, 1. Testing

#480 Testing - Reorginize GitHub actions by actions
  .github/actions/build-occt/action.yml
  .github/actions/retest-failures/action.yml
  .github/actions/run-tests/action.yml
  .github/actions/test-summary/action.yml
  .github/workflows/build-and-test-multiplatform.yml
Labels: 2. Enhancement

#479 Data Exchange - Step Direction optimization
  src/DataExchange/TKDESTEP/RWStepGeom/RWStepGeom_RWDirection.cxx
  src/DataExchange/TKDESTEP/STEPCAFControl/STEPCAFControl_Reader.cxx
  src/DataExchange/TKDESTEP/StepGeom/StepGeom_CartesianPoint.cxx
  src/DataExchange/TKDESTEP/StepGeom/StepGeom_CartesianPoint.hxx
  src/DataExchange/TKDESTEP/StepGeom/StepGeom_Direction.cxx
  src/DataExchange/TKDESTEP/StepGeom/StepGeom_Direction.hxx
  src/DataExchange/TKDESTEP/StepTidy/StepTidy_DirectionHasher.pxx
  src/DataExchange/TKDESTEP/StepToGeom/StepToGeom.cxx
Labels: 2. Enhancement, 1. Data Exchange

#447 Data Exchange, Step - Material support
  .github/actions/retest-failures/action.yml
  src/DataExchange/TKDESTEP/DESTEP/DESTEP_ConfigurationNode.cxx
  src/DataExchange/TKDESTEP/DESTEP/DESTEP_Parameters.hxx
  src/DataExchange/TKDESTEP/DESTEP/DESTEP_Provider.cxx
  src/DataExchange/TKDESTEP/GTests/FILES.cmake
  src/DataExchange/TKDESTEP/GTests/STEPConstruct_RenderingProperties_Test.cxx
  src/DataExchange/TKDESTEP/RWStepAP214/RWStepAP214_GeneralModule.cxx
  src/DataExchange/TKDESTEP/RWStepAP214/RWStepAP214_ReadWriteModule.cxx
  src/DataExchange/TKDESTEP/RWStepVisual/FILES.cmake
  src/DataExchange/TKDESTEP/RWStepVisual/RWStepVisual_RWSurfaceStyleReflectanceAmbientDiffuse.cxx
  src/DataExchange/TKDESTEP/RWStepVisual/RWStepVisual_RWSurfaceStyleReflectanceAmbientDiffuse.pxx
  src/DataExchange/TKDESTEP/RWStepVisual/RWStepVisual_RWSurfaceStyleReflectanceAmbientDiffuseSpecular.cxx
  src/DataExchange/TKDESTEP/RWStepVisual/RWStepVisual_RWSurfaceStyleReflectanceAmbientDiffuseSpecular.pxx
  src/DataExchange/TKDESTEP/STEPCAFControl/STEPCAFControl_Reader.cxx
  src/DataExchange/TKDESTEP/STEPCAFControl/STEPCAFControl_Writer.cxx
  src/DataExchange/TKDESTEP/STEPCAFControl/STEPCAFControl_Writer.hxx
  src/DataExchange/TKDESTEP/STEPConstruct/FILES.cmake
  src/DataExchange/TKDESTEP/STEPConstruct/STEPConstruct_RenderingProperties.cxx
  src/DataExchange/TKDESTEP/STEPConstruct/STEPConstruct_RenderingProperties.hxx
  src/DataExchange/TKDESTEP/STEPConstruct/STEPConstruct_Styles.cxx
  src/DataExchange/TKDESTEP/STEPConstruct/STEPConstruct_Styles.hxx
  src/DataExchange/TKDESTEP/StepAP214/StepAP214_Protocol.cxx
  src/DataExchange/TKDESTEP/StepVisual/FILES.cmake
  src/DataExchange/TKDESTEP/StepVisual/StepVisual_SurfaceStyleReflectanceAmbientDiffuse.cxx
  src/DataExchange/TKDESTEP/StepVisual/StepVisual_SurfaceStyleReflectanceAmbientDiffuse.hxx
  src/DataExchange/TKDESTEP/StepVisual/StepVisual_SurfaceStyleReflectanceAmbientDiffuseSpecular.cxx
  src/DataExchange/TKDESTEP/StepVisual/StepVisual_SurfaceStyleReflectanceAmbientDiffuseSpecular.hxx
  tests/de_wrapper/configuration/A3
  tests/de_wrapper/configuration/A4
Labels: 2. Enhancement, 1. Data Exchange

#493 Modeling - Periodic BSpline curve bounding
  src/ModelingData/TKGeomBase/BndLib/BndLib_Add3dCurve.cxx
  tests/bugs/modalg_6/bug27079_3
Labels: 1. Modeling, 2. Regression

#489 Data Exchange, GLTF Reader - Add stream to json parser to read lines and points
  src/DataExchange/TKDEGLTF/RWGltf/RWGltf_GltfJsonParser.cxx
  src/DataExchange/TKDEGLTF/RWGltf/RWGltf_GltfJsonParser.hxx
  src/DataExchange/TKDEGLTF/RWGltf/RWGltf_TriangulationReader.cxx
  src/DataExchange/TKDEGLTF/RWGltf/RWGltf_TriangulationReader.hxx
Labels: 2. Enhancement, 1. Data Exchange

#496 Configuration - TBB configuration prioritization to release
  adm/cmake/tbb.cmake
Labels: 2. Bug, 1. Configuration

#497 Coding - Bump version to 8.0.0-rc1
  adm/cmake/version.cmake
Labels: 1. Coding

#498 Coding - MSVC warning fix for STEP Rendering properties
  src/DataExchange/TKDESTEP/STEPConstruct/STEPConstruct_RenderingProperties.cxx
  src/DataExchange/TKDESTEP/STEPConstruct/STEPConstruct_RenderingProperties.hxx
Labels: 1. Coding, 2. Regression

#503 Data Exchange, Gltf Reader - Implement non-uniform scaling in Gltf Im…
  src/DataExchange/TKDEGLTF/DEGLTF/DEGLTF_ConfigurationNode.cxx
  src/DataExchange/TKDEGLTF/DEGLTF/DEGLTF_ConfigurationNode.hxx
  src/DataExchange/TKDEGLTF/DEGLTF/DEGLTF_Provider.cxx
  src/DataExchange/TKDEGLTF/RWGltf/RWGltf_CafReader.cxx
  src/DataExchange/TKDEGLTF/RWGltf/RWGltf_CafReader.hxx
  src/DataExchange/TKDEGLTF/RWGltf/RWGltf_GltfJsonParser.cxx
  src/DataExchange/TKDEGLTF/RWGltf/RWGltf_GltfJsonParser.hxx
  src/Draw/TKXSDRAWGLTF/XSDRAWGLTF/XSDRAWGLTF.cxx
  tests/de_mesh/gltf_read/cartoning
  tests/de_wrapper/configuration/A3
Labels: 2. Enhancement, 1. Data Exchange
