Repository Open-Cascade-SAS/OCCT, pull requests merged in 2025-08, with the labels that each got.

#624 0033894: fix null surface crash in unifysamedom
  src/ModelingAlgorithms/TKShHealing/ShapeUpgrade/ShapeUpgrade_UnifySameDomain.cxx
  tests/bugs/modalg_8/bug33894
Labels: 2. Bug, 1. Modeling

#623 0033895: fix null surface crash in fixshape
  src/ModelingAlgorithms/TKShHealing/ShapeAnalysis/ShapeAnalysis_Surface.cxx
  src/ModelingAlgorithms/TKShHealing/ShapeAnalysis/ShapeAnalysis_Wire.cxx
  src/ModelingAlgorithms/TKShHealing/ShapeFix/ShapeFix_Face.cxx
  tests/bugs/modalg_8/bug33895
Labels: 2. Bug, 1. Shape Healing

#665 Foundation Classes - Documentation update for TCollection
  src/FoundationClasses/TKernel/GTests/TCollection_AsciiString_Test.cxx
  src/FoundationClasses/TKernel/GTests/TCollection_ExtendedString_Test.cxx
  src/FoundationClasses/TKernel/TCollection/TCollection_AsciiString.cxx
  src/FoundationClasses/TKernel/TCollection/TCollection_ExtendedString.cxx
  src/FoundationClasses/TKernel/TCollection/TCollection_ExtendedString.hxx
Labels: 2. Enhancement, 1. Foundation Classes

#663 Data Exchange, DE_Wrapper - Implement Stream support
  src/DataExchange/TKDE/DE/DE_ConfigurationNode.cxx
  src/DataExchange/TKDE/DE/DE_ConfigurationNode.hxx
  src/DataExchange/TKDE/DE/DE_Provider.cxx
  src/DataExchange/TKDE/DE/DE_Provider.hxx
  src/DataExchange/TKDE/DE/DE_ValidationUtils.cxx
  src/DataExchange/TKDE/DE/DE_ValidationUtils.hxx
  src/DataExchange/TKDE/DE/DE_Wrapper.cxx
  src/DataExchange/TKDE/DE/DE_Wrapper.hxx
  src/DataExchange/TKDE/DE/FILES.cmake
  src/DataExchange/TKDEGLTF/DEGLTF/DEGLTF_Provider.cxx
  src/DataExchange/TKDEIGES/DEIGES/DEIGES_Provider.cxx
  src/DataExchange/TKDEOBJ/DEOBJ/DEOBJ_Provider.cxx
  src/DataExchange/TKDEPLY/DEPLY/DEPLY_Provider.cxx
  src/DataExchange/TKDESTEP/DESTEP/DESTEP_ConfigurationNode.cxx
  src/DataExchange/TKDESTEP/DESTEP/DESTEP_ConfigurationNode.hxx
  src/DataExchange/TKDESTEP/DESTEP/DESTEP_Provider.cxx
  src/DataExchange/TKDESTEP/DESTEP/DESTEP_Provider.hxx
  src/DataExchange/TKDESTEP/GTests/DESTEP_Provider_Test.cxx
  src/DataExchange/TKDESTEP/GTests/FILES.cmake
  src/DataExchange/TKDESTL/DESTL/DESTL_ConfigurationNode.cxx
  src/DataExchange/TKDESTL/DESTL/DESTL_ConfigurationNode.hxx
  src/DataExchange/TKDESTL/DESTL/DESTL_Provider.cxx
  src/DataExchange/TKDESTL/DESTL/DESTL_Provider.hxx
  src/DataExchange/TKDESTL/GTests/DESTL_Provider_Test.cxx
  src/DataExchange/TKDESTL/GTests/FILES.cmake
  src/DataExchange/TKDESTL/RWStl/RWStl.cxx
  src/DataExchange/TKDESTL/RWStl/RWStl.hxx
  src/DataExchange/TKDESTL/StlAPI/StlAPI_Reader.cxx
  src/DataExchange/TKDESTL/StlAPI/StlAPI_Reader.hxx
  src/DataExchange/TKDESTL/StlAPI/StlAPI_Writer.cxx
  src/DataExchange/TKDESTL/StlAPI/StlAPI_Writer.hxx
  src/DataExchange/TKDEVRML/DEVRML/DEVRML_ConfigurationNode.cxx
  src/DataExchange/TKDEVRML/DEVRML/DEVRML_ConfigurationNode.hxx
  src/DataExchange/TKDEVRML/DEVRML/DEVRML_Provider.cxx
  src/DataExchange/TKDEVRML/DEVRML/DEVRML_Provider.hxx
  src/DataExchange/TKDEVRML/GTests/DEVRML_Provider_Test.cxx
  src/DataExchange/TKDEVRML/GTests/FILES.cmake
  src/DataExchange/TKDEVRML/VrmlAPI/VrmlAPI_Writer.cxx
  src/DataExchange/TKDEVRML/VrmlAPI/VrmlAPI_Writer.hxx
Labels: 1. Data Exchange

#634 0033896 - STEP Write - General Attributes
  src/DataExchange/TKDESTEP/DESTEP/DESTEP_ConfigurationNode.cxx
  src/DataExchange/TKDESTEP/DESTEP/DESTEP_Parameters.hxx
  src/DataExchange/TKDESTEP/STEPCAFControl/STEPCAFControl_Writer.cxx
  src/DataExchange/TKDESTEP/STEPCAFControl/STEPCAFControl_Writer.hxx
  tests/de_wrapper/configuration/A3
  tests/de_wrapper/configuration/A4
  tests/metadata/step/A1
  tests/metadata/step/A2
  tests/metadata/step/A3
  tests/metadata/step/A4
  tests/metadata/step/A5
  tests/metadata/step/A6
  tests/metadata/step/A7
  tests/metadata/step/A8
  tests/metadata/step/end
Labels: 2. Enhancement, 1. Data Exchange, 3. CLA approved

#669 Coding, DEGLTF_Provider - Hiding declaration
  src/DataExchange/TKDEGLTF/DEGLTF/DEGLTF_Provider.cxx
Labels: 1. Coding

#673 Testing - Removed old test reference
  .github/actions/download-artifacts/action.yml
Labels: 2. Bug, 1. Testing

#672 Coding, StepData - Translation to English
  src/DataExchange/TKDESTEP/StepData/StepData_DefaultGeneral.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_ESDescr.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_Field.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_FileProtocol.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_FreeFormEntity.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_PDescr.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_Protocol.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_ReadWriteModule.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_SelectMember.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_SelectNamed.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_Simple.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_StepDumper.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_StepModel.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_StepReaderData.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_StepReaderTool.cxx
  src/DataExchange/TKDESTEP/StepData/StepData_StepWriter.cxx
Labels: 2. Enhancement, 1. Coding

#676 Coding - Reducing relying on exceptions
  src/ApplicationFramework/TKCDF/PCDM/PCDM_ReadWriter_1.cxx
  src/Draw/TKXSDRAWSTL/XSDRAWSTL/XSDRAWSTL.cxx
Labels: 2. Enhancement, 1. Coding

#681 Coding - Dangerous use of 'cin'
  src/DataExchange/TKXSBase/IFSelect/IFSelect_Functions.cxx
  src/Draw/TKTopTest/GeometryTest/GeometryTest_ConstraintCommands.cxx
  src/Draw/TKXSDRAWIGES/XSDRAWIGES/XSDRAWIGES.cxx
Labels: 2. Enhancement, 1. Coding

#685 Draw - Fix message color mixing (#685)
  src/Draw/TKDraw/Draw/Draw.cxx
  src/Draw/TKDraw/Draw/Draw_BasicCommands.cxx
Labels: 1. DRAW
